body{
    font-size: 2vh;
    color: #ffffff;
    background-color: #3d3d3d;
    text-align: center;
}
p{
    padding: 0.5vh;
    margin: 0.5vh;
}
a{
    color: rgb(0, 110, 255);
}
rlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}
.submenu {
    display: none;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}
.submenu p {
    margin: 0.3vh;
    font-size: 1.8vh;
}
slist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    font-size: 1.2vh;
    display: none;
    position: absolute;
    text-align: left;
    right: 0;
    top: 0;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 1.5vh;
}
.modal p{
    padding: 0.1vh;
    margin: 0.1vh;
}