*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #333;
    color: #fff;
    padding-left: 1em 0;
    text-align: center;
}

header h1{
    margin-bottom: 0.5em;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 1em;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.item{
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item h2{
    margin-bottom: 0.5em;
    color: #333;
}

.item .date{
    font-size: 0.9em;
    color: #888;
    margin-bottom: 1em;
}

.item .summary{
    color: #555;
}

.ad-guide-container {
    display: flex;
    justify-content: right; 
    align-items: center; 
    gap: 2vw; 
    margin-right: 43%
}
@media (max-width:1000px) {
    .ad-guide-container {
        display: flex;
        justify-content: right; 
        align-items: center; 
        gap: 2vw; 
        margin-right: 40%
    }
}

.ad {
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    text-decoration: none;
    height: 10em;
    width: 20em;
    color: #fff;
    background-image: url(../content/ad.png);
    border: none;
    padding: auto;
    background-repeat: no-repeat;
    background-position: center;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button p {
    color: #555;
    display: flex;
    justify-content: right;
    top: 0%;
}

.guide {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #000000;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #000000;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}

.guide:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
    z-index: 2;
}

.guide:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid #000000;
    z-index: 1;
}

.guide p {
    margin: 0;
    padding: 0;
}

footer{
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: 2em;
}